<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.tset">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".Utils.ContextUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".View.EvaluatepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.SetdataActivity" />
        <activity android:name=".View.FindpawActivity" />
        <activity android:name=".View.ReservationlistActivity" />
        <activity android:name=".View.MycollectActivity" />
        <activity android:name=".View.ReservationActivity" />
        <activity android:name=".View.PasswordSettingActivity" />
        <activity android:name=".View.ThemeselectActivity" />
        <activity android:name=".View.SetPageActivity" />
        <activity android:name=".View.FeedbackActivity" />
        <activity android:name=".View.AboutusActivity" />
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.NamepageActivity" />
        <activity android:name=".View.HealthconditionActivity" />
        <activity android:name=".View.IconmanageActivity" />
        <activity android:name=".View.DiseaseActivity" />
        <activity android:name=".View.SexpageActivity" />
        <activity android:name=".View.PhonechangeActivity" />
        <activity android:name=".View.ConsultPageActivity" />
        <activity android:name=".View.PersonaldataActivity" />
        <activity android:name=".View.RegistrationAtivity" />
        <activity android:name=".View.PharmacyremindActivity" />
        <activity android:name=".View.CompileremindActivity" />
        <activity android:name=".View.RemindsetActivity" />
        <activity android:name=".View.DoctorparticularsActivity" />
        <activity android:name=".View.MyDoctorActivity" />
        <activity android:name=".View.InquiryrecordActivity" />
        <activity android:name=".View.HomeActivity"></activity>
    </application>

</manifest>